@import "mixins";

.year-btn-container {
  padding: 0px 5%;
  margin-bottom: 10%;
}

.d-flex {
  &-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-label {
    display: flex;
    justify-content: center;
  }
}

.filter {
  &-background {
    background-color: $white;
    border-radius: 2%;
    padding-bottom: 15%;
  }
  &-header {
    margin: 0px;
  }
}
.label-padding {
  @include filter-labels(28, 28);
  &-success {
    @include filter-labels(12, 12);
  }
}

.btn-success-container {
  padding: 1% 6%;
  margin-bottom: 10%;
}

.year-buttons {
  @include radioButton ("yearRadio");
}

.button {
  &-year {
    @include radioButton ("yearRadio");
  }
  &-launch {
    @include radioButton ("successLaunch");
  }
  &-land {
    @include radioButton ("successLand");
  }
}

@media only screen and (min-width: 400px) and  (max-width: 700px) {
  .label-padding {
    border-bottom: 1px solid $launch-label-border;
    padding: 0 30%;
    &-success {
      border-bottom: 1px solid $launch-label-border;
      padding: 0 25%;
    }
  }
} 

@media only screen and (max-width: 400px) {
  .label-padding {
    border-bottom: 1px solid $launch-label-border;
    padding: 0 25%;
    &-success {
      border-bottom: 1px solid $launch-label-border;
      padding: 0 18%;
    }
  }
}