<div class="filter-background row">
  <div class="col-d-12">
    <h3 class="filter-header">Filters</h3>
  </div>
  <div class="col-d-12 d-flex-label">
    <label class="label-padding">Launch Year</label>
  </div>

  <div class="year-btn-container">
    <div
      class="col-d-12 d-flex-btn"
      *ngFor="let year of years; let index = index"
    >
      <input id="year{{ year.yearOne }}" type="radio" name="yearRadio" />
      <label for="year{{ year.yearOne }}">{{ year.yearOne }}</label>

      <input
        *ngIf="year.yearTwo.length > 0"
        id="year{{ year.yearTwo }}"
        type="radio"
        name="yearRadio"
      />
      <label *ngIf="year.yearTwo.length > 0" for="year{{ year.yearTwo }}">
        {{ year.yearTwo }}</label
      >
    </div>
  </div>

  <div class="col-d-12 d-flex-label">
    <label class="label-padding-success">Successful Launch</label>
  </div>
  <div class="col-d-12 d-flex-btn btn-success-container">
    <input id="year_launch_true" type="radio" name="successLaunch" />
    <label for="year_launch_true">True</label>

    <input id="year_launch_false" type="radio" name="successLaunch" />
    <label for="year_launch_false">False</label>
  </div>

  <div class="col-d-12 d-flex-label">
    <label class="label-padding-success">Successful Landing</label>
  </div>
  <div class="col-d-12 d-flex-btn btn-success-container">
    <input id="year_land_true" type="radio" name="successLand" />
    <label for="year_land_true">True</label>

    <input id="year_land_false" type="radio" name="successLand" />
    <label for="year_land_false">False</label>
  </div>
</div>
